      /*Importing-Font*/
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

      /* Removing-all-margins-and-paddings */
      * {

          font-family: "Montserrat";
      }

      /* Scroll-Behavior*/
      html {
          scroll-behavior: smooth;
      }
      
      h3,
      .hover-scale-up {
          transition: transform 0.3s ease;
      }

      .hover-scale-up:hover {
          transform: scale(1.05);
      }